.liquidate {
  margin-top: 1.5rem;
  margin-right: 1.5rem;
}

.liquidationCard {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.inputSubmitBtn {
  display: flex;
  gap: 2rem;
}

.confirmLiquidationButton {
  display: flex;
}
