.logo {
  width: 85%;
  object-fit: contain;
}

.loginLogo {
  height: 4.5rem;
}
.welcome{
  position: absolute;
  top: 10vh;
  height: fit-content;
}
.layout {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 55px calc(100vh - 55px);
  grid-template-areas:
    'sidebar nav nav nav nav nav'
    'sidebar main main main main main';
}

.layoutPromotion {
  display: grid;
  height: 100vh;
  overflow: hidden;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 0.2fr 3fr;
  grid-template-areas:
    'sidebar promo promo promo promo promo'
    'sidebar nav nav nav nav nav'
    'sidebar main main main main main';
}

.sidebarBig {
  display: flex;
  position: sticky;
  height: 100vh;
  top: 0;
  bottom: 0;
  padding: 0.5rem;
  border-right: 1px solid #e1e1e1;
  flex-direction: column;
  justify-content: space-between;
  grid-area: sidebar;
  background-color: var(--sidebar-bg-color);
}

.sidebarSmall {
  display: none;
  background-color: var(--sidebar-bg-color);
}

.loginTopBar {
  background-color: var(--sidebar-bg-color);
}

.nav {
  grid-area: nav;
}

.promoNavBar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem 1.5rem;
  background-color: var(--promo-bg-color);
  grid-area: promo;
}

.main {
  /* Required to make sidebar stick */
  overflow: auto;
  grid-area: main;
}

.content {
  background-color: var(--main-bg-color);
  min-height: calc(100vh - 55px);
}

.additionalNavLinks {
  border-top: 1px solid #e1e1e1;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding-top: 0.3rem;
}

.additionalNavLinkBtn {
  display: flex;
  align-items: center;
  width: 100%;
}

.selectedNav {
  color: var(--navbar-selected-button-text-color) !important;
}

ion-icon {
  font-size: 1.25rem;
  color: #999999;
  padding-right: 0.5rem;
}

ion-icon:hover {
  color: var(--navbar-selected-button-text-color);
}

@media only screen and (max-width: 550px) {
  .layout {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr auto 0.3fr;
    grid-template-areas:
      'nav'
      'main'
      'sidebarSmall';
  }

  .layoutPromotion {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.2fr auto 0.3fr;
    grid-template-areas:
      'promo'
      'nav'
      'main'
      'sidebarSmall';
  }

  .sidebarBig {
    display: none;
  }

  /* TODO Beautify Mobile view */
  .sidebarSmall {
    display: flex;
    height: 8vh;
    grid-area: sidebarSmall;
  }
}
