.financier {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1.5rem 4rem 1.5rem;
  justify-content: center;
}

.divider {
  height: 1px;
  border-top: 1px solid #d1d1d1;
  margin: 1.5rem 0;
}

.header {
  display: flex;
  flex-direction: column;
}

.referralCode {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.referralCodeInner {
  display: flex;
  gap: 0.5rem;
}

.faq {
  display: flex;
  align-items: center;
  gap: 2rem;
}
