/* CSS Overriding issue https://github.com/css-modules/css-modules/issues/195#issuecomment-676351428 */
.text {
  /* text-decoration: none; */
  font-family: 'Lato', 'Open Sans', 'Lucidia Grande', 'Roboto', sans-serif;
  font-stretch: expanded;
}

.number {
  font-family: 'Kohinoor Bangla', 'Gentium Book Plus', 'Lucidia Grande', 'Roboto', sans-serif;
  letter-spacing: 0.02rem;
  font-weight: 500;
}
