.iconWithLink {
  display: flex;
  align-items: center;
  padding: 0.8rem 1.2rem;
  border-radius: 0.5rem;
  transition: all .3s ease;
}

.iconWithLink:hover {
  background-color: hsla(240, 9%, 59%, 0.1);
}

.text {
  padding-left: 0.3rem;
}
