.deals {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 'deal deal';
  padding: 2rem 0.5rem;
}

.deal {
  grid-area: deal;
}

@media only screen and (max-width: 550px) {
  .deals {
    grid-template-columns: 1fr;
    grid-template-areas: 'deal';
  }
}
