.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 1.5rem;
  box-shadow: inset 0px -1px 0px #f3f3f4;
  background-color: var(--navbar-bg-color);
}

.walletBalance {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.searchBar {
  width: 35%;
  transition: all 0.3s ease;
}

.searchBarStyle {
  border: 1px solid #e1e1e1;
  background-color: #fff;
}

.searchBar:hover {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

@media only screen and (max-width: 550px) {
  .walletBalanceLabel {
    display: none;
  }
}
