.reports {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.headerText {
  display: flex;
}

.downloadList {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2rem;
  margin: 3rem 2rem;
}

@media only screen and (max-width: 550px) {
  .downloadList {
    grid-template-columns: auto;
  }
}

.report {
  display: flex;
  padding: 1.5rem;
  justify-content: space-between;
  composes: border from '../../overview/Overview.css';
}

.reportBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}

.downloadText {
  display: flex;
  flex-direction: column;
}

.info {
  display: flex;
}
