.purchase {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 1.5rem;
}

.purchaseError {
  /* background-color: aqua; */
  height: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0.5rem 1rem 0 1rem;
}

.purchaseInput {
  width: 55%;
}

.purchaseInputText {
  text-align: right;
}

.lotsInput {
  margin-left: 1rem;
  width: 35%;
}

.button {
  display: flex;
  width: 45%;
  margin: 0 1rem;
}

.errorText {
  height: 5%;
}

