.referralTable {
  composes: nomineeTable from '../nomineeDetails/NomineeDetails.css';
}

.tableCell {
  border: 0.3px solid #e0e0e0;
  padding: 0.4rem 0.35rem;
  word-wrap: break-word;
  text-align: center;
}
